# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
# Virtual environment
data_usage_statistics_v_env/

# IDE
.vscode/
.idea/
*.swp
*.swo
# Data files
*.csv
*.json
*.db
*.sqlite
NetUsageApp.spec
dist/
build/
.iss/